* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6d00d3;
  padding: 10px 80px;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_menu li {
  color: #87cefa;
  list-style: none;
  font-size: 24px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.nav_menu li:hover {
  color: orange;
  border-bottom: 2px solid orange;
}

.header a {
  text-decoration: none;
  color: aqua;
  font-size: 32px;
}

.film_item img {
  height: 300px;
  width: 210px;
  object-fit: cover;
}

.films_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.wrapper {
  margin: 50px 250px;
}
